# How to look up financial Data for finnhub Data

In [2]:
import os
import pandas as pd
from aiq_strategy_robot.data.data_accessor import DAL

In [3]:
## load wrapper
from aiq_strategy_robot.data.FINNHUB import load_finnhub_fundamental

In [4]:
sdh = DAL()

## Get company financials from finnhub symbols

In [5]:
load_finnhub_fundamental(
    sdh,
    symbols='7203.T', 
    st_type='ic', 
    freq='quarterly', 
    start_datetime='2022-01-01', 
    with_calendar=True
).retrieve()

7203.T: loading...: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.59it/s]

                   announcement_date  year  quarter  costOfGoodsSold  \
ticker  datetime
7203 JP 2022-03-31        2022-05-11  2022        4          6755385
        2022-06-30        2022-08-04  2023        1          7099967
        2022-09-30        2022-11-01  2023        2          7794503
        2022-12-31        2023-02-09  2023        3          7821392
        2023-03-31        2023-05-10  2023        4          8125420
        2023-06-30        2023-08-01  2024        1          8483927
        2023-09-30        2023-11-01  2024        2          9064850
        2023-12-31        2024-02-06  2024        3          9355813
        2024-03-31        2024-05-08  2024        4          8822417

                    dilutedAverageSharesOutstanding  dilutedEPS     ebit  \
ticker  datetime
7203 JP 2022-03-31                      13803.88700    38.67664   463862
        2022-06-30                      13732.56900    53.65493   578655
        2022-09-30                      13687.53500    31.72697   562789
        2022-12-31                      13632.40300    53.39792   956652
        2023-03-31                      13581.02100    40.66646   626930
        2023-06-30                      13555.66300    96.73979  1120900
        2023-09-30                      13522.58900    94.51267  1438394
        2023-12-31                      13494.13500   100.62253  1680944
        2024-03-31                      13479.00707    74.01814  1112696

                    grossIncome  interestIncomeExpense  minorityInterest  ...  \
ticker  datetime                                                          ...
7203 JP 2022-03-31      1357081                 333713             43173  ...
        2022-06-30      1391149                 460759            -21432  ...
        2022-09-30      1423729                 262323            -27040  ...
        2022-12-31      1933293                  79214            -16624  ...
        2023-03-31      1564845                 219520             23446  ...
        2023-06-30      2062904                 606920            -15518  ...
        2023-09-30      2369936                 364626            -42575  ...
        2023-12-31      2685291                 145521            -26289  ...
        2024-03-31      2250188                 477165            -42106  ...

                    netIncomeAfterTaxes  otherOperatingExpensesTotal  \
ticker  datetime
7203 JP 2022-03-31               490715                         -1.0
        2022-06-30               758252                          0.0
        2022-09-30               461303                          NaN
        2022-12-31               744566                          NaN
        2023-03-31               528847                          1.0
        2023-06-30              1326890                          1.0
        2023-09-30              1320631                         -1.0
        2023-12-31              1384103                          NaN
        2024-03-31              1039796                          2.0

                    pretaxIncome  provisionforIncomeTaxes   revenue  \
ticker  datetime
7203 JP 2022-03-31        752979                   262264   8112466
        2022-06-30       1021748                   263496   8491116
        2022-09-30        812528                   351225   9218232
        2022-12-31       1034998                   290432   9754685
        2023-03-31        799459                   270612   9690265
        2023-06-30       1720553                   393663  10546831
        2023-09-30       1800972                   480341  11434786
        2023-12-31       1835540                   451437  12041104
        2024-03-31       1608020                   568224  11072605

                    sgaExpense  totalOperatingExpense  \
ticker  datetime
7203 JP 2022-03-31      893220                 893219
        2022-06-30      812494                 812494
        2022-09-30      860940                 860940
        2022-12-31      976641                 976641
        2023-03-31      937914                 937915
        2023-06-30      942003                 942004
        2023-09-30      931543                 931542
        2023-12-31     1004347                1004347
        2024-03-31     1137490                1137492

                    totalOtherIncomeExpenseNet  equityEarningsAffiliates  \
ticker  datetime
7203 JP 2022-03-31                      -44596                       NaN
        2022-06-30                      -17666                       NaN
        2022-09-30                      -12584                       NaN
        2022-12-31                        -868                       NaN
        2023-03-31                      -46991                       NaN
        2023-06-30                       -7267                       NaN
        2023-09-30                       -2048                       NaN
        2023-12-31                        9075                       NaN
        2024-03-31                       18159                       NaN

                    nonRecurringItems
ticker  datetime
7203 JP 2022-03-31                NaN
        2022-06-30                NaN
        2022-09-30                NaN
        2022-12-31                NaN
        2023-03-31                NaN
        2023-06-30                NaN
        2023-09-30                NaN
        2023-12-31                NaN
        2024-03-31                NaN

[9 rows x 21 columns]

In [6]:
load_finnhub_fundamental(
    sdh,
    symbols='8035.T', 
    st_type='bs', 
    freq='quarterly'
).retrieve()

8035.T: loading...: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  2.00it/s]

                   announcement_date  year  quarter  accountsPayable  \
ticker  datetime
8035 JP 2014-06-30        2014-07-29  2015        1            41421
        2014-09-30        2014-10-29  2015        2            39885
        2014-12-31        2015-01-30  2015        3            45760
        2015-03-31        2015-04-27  2015        4            56478
        2015-06-30        2015-07-28  2016        1            51041
        2015-09-30        2015-10-27  2016        2            45019
        2015-12-31        2016-01-29  2016        3            46062
        2016-03-31        2016-04-26  2016        4            55050
        2016-06-30        2016-07-29  2017        1            51540
        2016-09-30        2016-10-28  2017        2            59008
        2016-12-31        2017-01-31  2017        3            61280
        2017-03-31        2017-04-28  2017        4            79217
        2017-06-30        2017-07-27  2018        1            79939
        2017-09-30        2017-10-31  2018        2            83537
        2017-12-31        2018-01-30  2018        3            95564
        2018-03-31        2018-04-25  2018        4           108607
        2018-06-30        2018-07-26  2019        1           100376
        2018-09-30        2018-10-31  2019        2            82885
        2018-12-31        2019-01-31  2019        3            89643
        2019-03-31        2019-04-26  2019        4            75448
        2019-06-30        2019-07-26  2020        1            75058
        2019-09-30        2019-10-31  2020        2            80385
        2019-12-31        2020-01-30  2020        3            87346
        2020-03-31        2020-04-30  2020        4            95938
        2020-06-30        2020-07-28  2021        1            96977
        2020-09-30        2020-10-29  2021        2            87537
        2020-12-31        2021-01-28  2021        3            96944
        2021-03-31        2021-04-30  2021        4            90606
        2021-06-30        2021-08-16  2022        1            90182
        2021-09-30        2021-11-12  2022        2            92775
        2021-12-31        2022-02-10  2022        3           110433
        2022-03-31        2022-05-12  2022        4           120908
        2022-06-30        2022-08-08  2023        1           119115
        2022-09-30        2022-11-10  2023        2           125888
        2022-12-31        2023-02-09  2023        3           112493
        2023-03-31        2023-05-11  2023        4           116317
        2023-06-30        2023-08-10  2024        1            93057
        2023-09-30        2023-11-10  2024        2            92157
        2023-12-31        2024-02-09  2024        3            84288
        2024-03-31        2024-05-10  2024        4            92359

                    accountsReceivables  accruedLiability  \
ticker  datetime
8035 JP 2014-06-30                95999               NaN
        2014-09-30               101199               NaN
        2014-12-31               105711               NaN
        2015-03-31               110467               NaN
        2015-06-30                97868               NaN
        2015-09-30               110221           10776.0
        2015-12-31               102798               NaN
        2016-03-31               116455               NaN
        2016-06-30               102688               NaN
        2016-09-30               149229           17190.0
        2016-12-31               126128               NaN
        2017-03-31               133795               NaN
        2017-06-30               139681           11492.0
        2017-09-30               142780           25110.0
        2017-12-31               152231           18754.0
        2018-03-31               159511           34467.0
        2018-06-30               151269           17097.0
        2018-09-30               155297           34312.0
        2018-12-31               144668           19279.0
        2019-03-31               146887           33139.0
        2019-06-30                96246               NaN
        2019-09-30               111778           18625.0
        2019-12-31               125594           15226.0
        2020-03-31               150029           29139.0
        2020-06-30               165915           13858.0
        2020-09-30               133620           28319.0
        2020-12-31               138067           18354.0
        2021-03-31               191601           34254.0
        2021-06-30               253908           17429.0
        2021-09-30               301168           36148.0
        2021-12-31               280304           24344.0
        2022-03-31               433788           44871.0
        2022-06-30               425938           24717.0
        2022-09-30               507574           41643.0
        2022-12-31               454332           23145.0
        2023-03-31               464545           43337.0
        2023-06-30               368635               NaN
        2023-09-30               367565           24960.0
        2023-12-31               334903               NaN
        2024-03-31               391070           43727.0

                    accumulatedDepreciation  additionalPaidInCapital  \
ticker  datetime
8035 JP 2014-06-30                      NaN                    78023
        2014-09-30                      NaN                    78023
        2014-12-31                      NaN                    78023
        2015-03-31                      NaN                    78023
        2015-06-30                      NaN                    78023
        2015-09-30                      NaN                    78023
        2015-12-31                      NaN                    78023
        2016-03-31                      NaN                    78023
        2016-06-30                      NaN                    78023
        2016-09-30                      NaN                    78023
        2016-12-31                      NaN                    78023
        2017-03-31                      NaN                    78023
        2017-06-30                      NaN                    78023
        2017-09-30                      NaN                    78023
        2017-12-31                      NaN                    78011
        2018-03-31                      NaN                    78011
        2018-06-30                      NaN                    78011
        2018-09-30                      NaN                    78011
        2018-12-31                      NaN                    78011
        2019-03-31                      NaN                    78011
        2019-06-30                      NaN                    78011
        2019-09-30                      NaN                    78011
        2019-12-31                      NaN                    78011
        2020-03-31                      NaN                    78011
        2020-06-30                      NaN                    78011
        2020-09-30                      NaN                    78011
        2020-12-31                      NaN                    78011
        2021-03-31                      NaN                    78011
        2021-06-30                      NaN                    78011
        2021-09-30                      NaN                    78011
        2021-12-31                      NaN                    78011
        2022-03-31                      NaN                    78011
        2022-06-30                      NaN                    78011
        2022-09-30                      NaN                    78011
        2022-12-31                      NaN                    78011
        2023-03-31                -326741.0                    78011
        2023-06-30                      NaN                    78011
        2023-09-30                      NaN                    78011
        2023-12-31                      NaN                    78011
        2024-03-31                -365988.0                    78011

                    cashEquivalents  cashShortTermInvestments  ...  \
ticker  datetime                                               ...
8035 JP 2014-06-30            47521                    280010  ...
        2014-09-30            48641                    299121  ...
        2014-12-31            65370                    285359  ...
        2015-03-31            79382                    317914  ...
        2015-06-30            69443                    298935  ...
        2015-09-30            56242                    260737  ...
        2015-12-31            54809                    233809  ...
        2016-03-31            75674                    236673  ...
        2016-06-30            83443                    230943  ...
        2016-09-30            96957                    255657  ...
        2016-12-31           114793                    277293  ...
        2017-03-31            70866                    315366  ...
        2017-06-30            75668                    294668  ...
        2017-09-30            96930                    329930  ...
        2017-12-31           113241                    301241  ...
        2018-03-31            87377                    373877  ...
        2018-06-30           136088                    355588  ...
        2018-09-30            90786                    423786  ...
        2018-12-31           124184                    341184  ...
        2019-03-31           177634                    392634  ...
        2019-06-30           219886                    340886  ...
        2019-09-30           214401                    339901  ...
        2019-12-31           190777                    292277  ...
        2020-03-31           149906                    338406  ...
        2020-06-30           192656                    322656  ...
        2020-09-30           203924                    358924  ...
        2020-12-31           149063                    269063  ...
        2021-03-31           186538                    311552  ...
        2021-06-30           221727                    341741  ...
        2021-09-30           280439                    420439  ...
        2021-12-31           283947                    423947  ...
        2022-03-31           274274                    371274  ...
        2022-06-30           269601                    314601  ...
        2022-09-30           454689                    484690  ...
        2022-12-31           372456                    387457  ...
        2023-03-31           473099                    473099  ...
        2023-06-30           391028                    401029  ...
        2023-09-30           352643                    362644  ...
        2023-12-31           342241                    352403  ...
        2024-03-31           462383                    472548  ...

                    treasuryStock  unrealizedProfitLossSecurity  longTermDebt  \
ticker  datetime
8035 JP 2014-06-30          -9473                          5861           0.0
        2014-09-30          -9146                          5555           0.0
        2014-12-31          -9144                          7965           0.0
        2015-03-31          -9064                          9463           2.0
        2015-06-30         -33008                         10016           0.0
        2015-09-30         -97259                          6084           0.0
        2015-12-31        -113766                          8267           0.0
        2016-03-31          -8050                          7902           0.0
        2016-06-30          -8012                          5225           0.0
        2016-09-30          -7899                          5889           0.0
        2016-12-31          -7844                          8551           0.0
        2017-03-31          -7766                         10788           0.0
        2017-06-30          -7751                         12692           0.0
        2017-09-30          -7727                         14338           0.0
        2017-12-31          -7575                         17752           0.0
        2018-03-31          -7518                         17134           2.0
        2018-06-30          -7515                         15119           0.0
        2018-09-30         -12055                         13481           0.0
        2018-12-31         -11936                          8760           0.0
        2019-03-31         -11821                         13024         846.0
        2019-06-30         -55039                         13772           0.0
        2019-09-30        -118764                         18928           0.0
        2019-12-31        -163654                         24546           0.0
        2020-03-31         -29310                         20126        2635.0
        2020-06-30         -29273                         32475           0.0
        2020-09-30         -32120                         30610           0.0
        2020-12-31         -31525                         45884           0.0
        2021-03-31         -30744                         66124        2909.0
        2021-06-30         -30616                         74562           0.0
        2021-09-30         -28321                         88769           0.0
        2021-12-31         -27894                        104223           0.0
        2022-03-31         -27418                         93492        3384.0
        2022-06-30         -27118                         70849           0.0
        2022-09-30         -23428                         65178           0.0
        2022-12-31         -22539                         66163           0.0
        2023-03-31         -22033                        107452        9164.0
        2023-06-30         -51606                        124257           0.0
        2023-09-30        -137695                        126610           0.0
        2023-12-31        -136322                        147785           0.0
        2024-03-31        -135215                        184934           NaN

                     netDebt  shortTermDebt  totalDebt  \
ticker  datetime
8035 JP 2014-06-30 -280010.0            0.0        0.0
        2014-09-30 -299121.0            0.0        0.0
        2014-12-31 -285359.0            0.0        0.0
        2015-03-31 -317909.0            0.0        5.0
        2015-06-30 -298935.0            0.0        0.0
        2015-09-30 -260737.0            0.0        0.0
        2015-12-31 -233809.0            0.0        0.0
        2016-03-31 -236673.0            0.0        0.0
        2016-06-30 -230943.0            0.0        0.0
        2016-09-30 -255657.0            0.0        0.0
        2016-12-31 -277293.0            0.0        0.0
        2017-03-31 -315366.0            0.0        0.0
        2017-06-30 -294668.0            0.0        0.0
        2017-09-30 -329930.0            0.0        0.0
        2017-12-31 -301241.0            0.0        0.0
        2018-03-31 -373873.0            0.0        4.0
        2018-06-30 -355588.0            0.0        0.0
        2018-09-30 -423786.0            0.0        0.0
        2018-12-31 -341184.0            0.0        0.0
        2019-03-31 -391377.0            0.0     1257.0
        2019-06-30 -340886.0            0.0        0.0
        2019-09-30 -339901.0            0.0        0.0
        2019-12-31 -292277.0            0.0        0.0
        2020-03-31 -335034.0            0.0     3372.0
        2020-06-30 -322656.0            0.0        0.0
        2020-09-30 -358924.0            0.0        0.0
        2020-12-31 -269063.0            0.0        0.0
        2021-03-31 -307745.0            0.0     3807.0
        2021-06-30 -341741.0            0.0        0.0
        2021-09-30 -420439.0            0.0        0.0
        2021-12-31 -423947.0            0.0        0.0
        2022-03-31 -366913.0            0.0     4361.0
        2022-06-30 -314601.0            0.0        0.0
        2022-09-30 -484690.0            0.0        0.0
        2022-12-31 -387457.0            0.0        0.0
        2023-03-31 -459878.0            0.0    13221.0
        2023-06-30 -401029.0            0.0        0.0
        2023-09-30 -362644.0            0.0        0.0
        2023-12-31 -352403.0            0.0        0.0
        2024-03-31       NaN            NaN        NaN

                    currentPortionLongTermDebt  minorityInterest  goodwill  \
ticker  datetime
8035 JP 2014-06-30                         NaN             206.0    8675.0
        2014-09-30                         NaN             227.0    8990.0
        2014-12-31                         NaN             248.0    9534.0
        2015-03-31                         3.0             257.0    9067.0
        2015-06-30                         NaN             220.0    8957.0
        2015-09-30                         NaN             213.0       NaN
        2015-12-31                         NaN             225.0       NaN
        2016-03-31                         NaN             228.0       NaN
        2016-06-30                         NaN             221.0       NaN
        2016-09-30                         NaN             237.0       NaN
        2016-12-31                         NaN             275.0       NaN
        2017-03-31                         NaN             284.0       NaN
        2017-06-30                         NaN             254.0       NaN
        2017-09-30                         NaN             268.0       NaN
        2017-12-31                         NaN               NaN       NaN
        2018-03-31                         2.0               NaN       NaN
        2018-06-30                         NaN               NaN       NaN
        2018-09-30                         NaN               NaN       NaN
        2018-12-31                         NaN               NaN       NaN
        2019-03-31                       411.0               NaN       NaN
        2019-06-30                         NaN               NaN       NaN
        2019-09-30                         NaN               NaN       NaN
        2019-12-31                         NaN               NaN       NaN
        2020-03-31                       737.0               NaN       NaN
        2020-06-30                         NaN               NaN       NaN
        2020-09-30                         NaN               NaN       NaN
        2020-12-31                         NaN               NaN       NaN
        2021-03-31                       898.0               NaN       NaN
        2021-06-30                         NaN               NaN       NaN
        2021-09-30                         NaN               NaN       NaN
        2021-12-31                         NaN               NaN       NaN
        2022-03-31                       977.0               NaN       NaN
        2022-06-30                         NaN               NaN       NaN
        2022-09-30                         NaN               NaN       NaN
        2022-12-31                         NaN               NaN       NaN
        2023-03-31                      4057.0               NaN       NaN
        2023-06-30                         NaN               NaN       NaN
        2023-09-30                         NaN               NaN       NaN
        2023-12-31                         NaN               NaN       NaN
        2024-03-31                         NaN               NaN       NaN

                    otherAssets
ticker  datetime
8035 JP 2014-06-30       8675.0
        2014-09-30       8990.0
        2014-12-31       9534.0
        2015-03-31       9067.0
        2015-06-30       8957.0
        2015-09-30          NaN
        2015-12-31          NaN
        2016-03-31          NaN
        2016-06-30          NaN
        2016-09-30          NaN
        2016-12-31          NaN
        2017-03-31          NaN
        2017-06-30          NaN

In [7]:
load_finnhub_fundamental(
    sdh,
    symbols='8035.T', 
    st_type='cf', 
    freq='quarterly',
    with_calendar=False
).retrieve()

8035.T: loading...: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  2.85it/s]

                    capex  cashDividendsPaid  cashTaxesPaid  changeinCash  \
ticker  datetime
8035 JP 2007-09-30 -12599             -10906          44169         -4449
        2008-03-31 -10780             -12525          29552         63552
        2008-06-30  -6676              -9841          26563         24152
        2008-09-30  -4708                  0           1725        -85589
        2008-12-31  -2520              -3579          12889        -63862
        2009-03-31  -4505                  0           -341         -2308
        2009-06-30  -1424               -715           1099          8685
        2009-09-30  -7330                  0          -8277        -24128
        2009-12-31  -1316               -716           1300         54375
        2010-03-31  -4910                  0            199         19125
        2010-06-30  -4113              -1431           5049           783
        2010-09-30  -9701                  0          -1155         23677
        2010-12-31 -10795              -6805           2861        -35156
        2011-03-31  -9857                  0            828         51806
        2011-09-30 -15175             -13608          29126        -63942
        2012-03-31 -22975              -9493          18502         57668
        2012-09-30 -11811              -4837           1867        -17123
        2013-03-31  -8435              -4479           5804        -56339
        2013-09-30  -6602              -4658           -371          4669
        2014-03-31  -4489              -4480           2112         14816
        2014-09-30  -6725              -6272          15302        120274
        2015-03-31  -5595             -11651           8937         92561
        2015-09-30  -5018             -12190           7378       -165427
        2016-03-31  -6983             -20823           7978        -56564
        2016-09-30  -9951             -18371          20729         13786
        2017-03-31  -8722             -21000          11893         54942
        2017-09-30 -18840             -36752          30238         64563
        2018-03-31 -27341             -45451          19533         28948
        2018-09-30 -23192             -56947          63580         21408
        2019-03-31 -23325             -67807          39352        -46651
        2019-09-30 -23967             -56651          29377         22266
        2020-03-31 -28785             -38862          12511         -6942
        2020-09-30 -27259             -53351          53389         55897
        2021-03-31 -33671             -56191          34383        -37864
        2021-09-30 -30622             -65746          49738        114370
        2022-03-31 -34481            -100506          56360        -44715
        2022-09-30 -37967            -118833         109303        118955
        2023-03-31 -38346            -134155          99808         17868
        2023-09-30 -58786            -133754          71971       -120578
        2024-03-31 -66194             -68703          46964        109716

                    changesinWorkingCapital  depreciationAmortization     fcf  \
ticker  datetime
8035 JP 2007-09-30                   -87724                     10601    7954
        2008-03-31                    11194                     16484   85606
        2008-06-30                    18000                      5110   28052
        2008-09-30                    35667                      5630   45235
        2008-12-31                   -34099                      5937  -36181
        2009-03-31                    27637                      6391   25579
        2009-06-30                    26722                      4913   12947
        2009-09-30                    27171                      4972   18664
        2009-12-31                   -15480                      5042   -6788
        2010-03-31                   -12966                      5074    8482
        2010-06-30                    -9291                      3726    5750
        2010-09-30                    -6364                      4093   21619
        2010-12-31                   -48063                      4623  -32208
        2011-03-31                    24115                      5265   53609
        2011-09-30                   -24206                     10523   11536
        2012-03-31                   -33243                     13674  -19975
        2012-09-30                    49348                     11789   62109
        2013-03-31                    -2990                     15982    1911
        2013-09-30                   -13797                     14888   -8025
        2014-03-31                    -6813                     14262   40177
        2014-09-30                     2346                     10281   36612
        2015-03-31                   -42995                     11747   22874
        2015-09-30                   -24173                     10004   42558
        2016-03-31                   -40520                     10223   14839
        2016-09-30                   -16820                      8506   42055
        2017-03-31                   -22931                      9997   76220
        2017-09-30                   -68428                      9350   49108
        2018-03-31                   -59570                     11869   91292
        2018-09-30                   -57590                     10984  112328
        2019-03-31                   -99419                     13693   30726
        2019-09-30                    40007                     12933  117235
        2020-03-31                   -55098                     16370   83129
        2020-09-30                   -57134                     15353   78669
        2021-03-31                  -155999                     18689    6287
        2021-09-30                   -87390                     16895  175291
        2022-03-31                  -282008                     20038   42993
        2022-09-30                  -113744                     19729  225424
        2023-03-31                  -133230                     23366  124533
        2023-09-30                    17182                     23221  141836
        2024-03-31                   -92641                     29191  167905

                    foreignExchangeEffects  issuanceReductionCapitalStock  \
ticker  datetime
8035 JP 2007-09-30                     -82                          771.0
        2008-03-31                    -535                           72.0
        2008-06-30                     105                            NaN
        2008-09-30                    -975                            NaN
        2008-12-31                    -541                            NaN
        2009-03-31                    -657                          -20.0
        2009-06-30                     685                            NaN
        2009-09-30                    -312                            NaN
        2009-12-31                     -26                            NaN
        2010-03-31                      98                          131.0
        2010-06-30                    -925                            NaN
        2010-09-30                    -129                            NaN
        2010-12-31                    -298                            NaN
        2011-03-31                     343                          427.0
        2011-09-30                   -1416                            NaN
        2012-03-31                    1117                          -12.0
        2012-09-30                    -352                            NaN
        2013-03-31                   -4982                          -15.0
        2013-09-30                   -2158                            NaN
        2014-03-31                   -1815                          -29.0
        2014-09-30                   -1963                            NaN
        2015-03-31                    5468                         -183.0
        2015-09-30                    -189                       -88756.0
        2016-03-31                   -2587                       -16776.0
        2016-09-30                   -4775                           -4.0
        2017-03-31                    4828                           -2.0
        2017-09-30                    2145                           -3.0
        2018-03-31                    -833                          -13.0
        2018-09-30                     746                        -5001.0
        2019-03-31                   -1766                           -3.0
        2019-09-30                   -4081                      -108607.0
        2020-03-31                     712                       -45489.0
        2020-09-30                     567                        -4328.0
        2021-03-31                    4379                          -11.0
        2021-09-30                     432                           -8.0
        2022-03-31                    8724                           -7.0
        2022-09-30                   11043                        -1708.0
        2023-03-31                   -2200                          -20.0
        2023-09-30                    4153                      -120027.0
        2024-03-31                     424                           -1.0

                    netCashFinancingActivities  netIncomeStartingLine  \
ticker  datetime
8035 JP 2007-09-30                      -16389                  98201
        2008-03-31                      -10645                  71018
        2008-06-30                      -10047                  22253
        2008-09-30                      -31277                   6440
        2008-12-31                        -707                  -8495
        2009-03-31                       -3982                 -10562
        2009-06-30                       -1000                 -18406
        2009-09-30                        1938                  -7843
        2009-12-31                          88                   3706
        2010-03-31                       -1313                  14776
        2010-06-30                       -3714                  19250
        2010-09-30                        4032                  25799
        2010-12-31                       -2514                  26623
        2011-03-31                       -3041                  27907
        2011-09-30                      -16749                  39225
        2012-03-31                      -10585                  21377
        2012-09-30                       -6473                  15539
        2013-03-31                       -4152                   2227
        2013-09-30                        1102                   -321
        2014-03-31                       -1288                 -11435
        2014-09-30                       -6458                  29101
        2015-03-31                      -11755                  57726
        2015-09-30                     -101000                  57519
        2016-03-31                      -37600                  48947
        2016-09-30                      -18377                  54420
        2017-03-31                      -21003                  94696
        2017-09-30                      -36802                 122311
        2018-03-31                      -45747                 152931
        2018-09-30                      -61950                 181103
        2019-03-31                      -67811                 140405
        2019-09-30                     -165432                 106629
        2020-03-31                      -84942                 137997
        2020-09-30                      -57989                 147709
        2021-03-31                      -56536                 169329
        2021-09-30                      -66190                 273050
        2022-03-31                     -101066                 323648
        2022-09-30                     -121269                 352916
        2023-03-31                     -135265                 271940
        2023-09-30                     -254999                 181136
        2024-03-31                      -70013                 292303

                    netInvestingCashFlow  netOperatingCashFlow  \
ticker  datetime
8035 JP 2007-09-30                 -8531                 20553
        2008-03-31                -21654                 96386
        2008-06-30                  -634                 34728
        2008-09-30               -103280                 49943
        2008-12-31                -28953                -33661
        2009-03-31                -27753                 30084
        2009-06-30                 -5371                 14371
        2009-09-30                -51748                 25994
        2009-12-31                 59785                 -5472
        2010-03-31                  6948                 13392
        2010-06-30                 -4441                  9863
        2010-09-30                -11546                 31320
        2010-12-31                -10931                -21413
        2011-03-31                 -8962                 63466
        2011-09-30                -72488                 26711
        2012-03-31                 64136                  3000
        2012-09-30                -84218                 73920
        2013-03-31                -57551                 10346
        2013-09-30                  7148                 -1423
        2014-03-31                -26747                 44666
        2014-09-30                 85358                 43337
        2015-03-31                 70379                 28469
        2015-09-30               -111814                 47576
        2016-03-31                -38199                 21822
        2016-09-30                -15068                 52006
        2017-03-31                -13825                 84942
        2017-09-30                 31272                 67948
        2018-03-31                -43105                118633
        2018-09-30                -52908                135520
        2019-03-31                -31125                 54051
        2019-09-30                 50577                141202
        2020-03-31                -34626                111914
        2020-09-30                  7391                105928
        2021-03-31                -25665                 39958
        2021-09-30                -25785                205913
        2022-03-31                -29847                 77474
        2022-09-30                -34210                263391
        2023-03-31                 -7546                162879
        2023-09-30                -70354                200622
        2024-03-31                -54794                234099

                    otherFundsFinancingItems  otherFundsNonCashItems  \
ticker  datetime
8035 JP 2007-09-30                      -141                  -525.0
        2008-03-31                      -156                 -2310.0
        2008-06-30                      -144                -10635.0
        2008-09-30                       -17                  2206.0
        2008-12-31                      -167                  2996.0
        2009-03-31                        17                  6618.0
        2009-06-30                      -159                  1142.0
        2009-09-30                       144                  1694.0
        2009-12-31                      -158                  1260.0
        2010-03-31                      -113                  6508.0
        2010-06-30                      -116                 -3822.0
        2010-09-30                       363                  7792.0
        2010-12-31                      -172                 -4596.0
        2011-03-31                      -393                  6179.0
        2011-09-30                      -297                  1169.0
        2012-03-31                      -331                  1192.0
        2012-09-30                      -328                 -2756.0
        2013-03-31                      -320                 -4873.0
        2013-09-30                      -341                 -2193.0
        2014-03-31                      -229                 48652.0
        2014-09-30                      -186                  1609.0
        2015-03-31                        79                  1991.0
        2015-09-30                       -54                  4226.0
        2016-03-31                        -1                  3172.0
        2016-09-30                        -2                  5900.0
        2017-03-31                        -1                  3180.0
        2017-09-30                       -47                  4715.0
        2018-03-31                      -283                 13403.0
        2018-09-30                        -2                  1023.0
        2019-03-31                        -1                  -628.0
        2019-09-30                      -174                -18367.0
        2020-03-31                      -591                 12645.0
        2020-09-30                      -310                     NaN
        2021-03-31                      -334                  7939.0
        2021-09-30                      -436                  3358.0
        2022-03-31                      -553                 15796.0
        2022-09-30                      -728                  4490.0
        2023-03-31                     -1090                   803.0
        2023-09-30                     -1218                -20917.0
        2024-03-31                     -1309                  5246.0

                    otherInvestingCashFlowItemsTotal  cashInterestPaid  \
ticker  datetime
8035 JP 2007-09-30                              4068             186.0
        2008-03-31                            -10874             162.0
        2008-06-30                              6042              28.0
        2008-09-30                            -98572             123.0
        2008-12-31                            -26433              15.0
        2009-03-31                            -23248              35.0
        2009-06-30                             -3947               9.0
        2009-09-30                            -44418              11.0
        2009-12-31                             61101              13.0
        2010-03-31                             11858              13.0
        2010-06-30                              -328               9.0
        2010-09-30                             -1845               9.0
        2010-12-31                              -136              11.0
        2011-03-31                               895              16.0
        2011-09-30                            -57313              18.0
        2012-03-31                             87111              24.0
        2012-09-30                            -72407              20.0
        2013-03-31                            -49116              48.0
        2013-09-30                             13750              39.0
        2014-03-31                            -22258              44.0
        2014-09-30                             92083              15.0
        2015-03-31                             75974               NaN
        2015-09-30                           -106796               NaN
        2016-03-31                            -31216               NaN
        2016-09-30                             -5117               NaN
        2017-03-31                             -5103               NaN
        2017-09-30                             50112               NaN
        2018-03-31                            -15764               NaN
        2018-09-30                            -29716               NaN
        2019-03-31                             -7800               NaN
        2019-09-30                             74544               NaN

In [8]:
load_finnhub_fundamental(
    sdh,
    symbols='AMZN', 
    st_type='ic', 
    freq='quarterly',
    start_datetime='2022-03-31',
    with_calendar=True
).retrieve()

AMZN: loading...: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  2.16it/s]

                   announcement_date  year  quarter  costOfGoodsSold  \
ticker  datetime
AMZN US 2022-03-31        2022-04-28  2022        1            66499
        2022-06-30        2022-07-28  2022        2            66424
        2022-09-30        2022-10-27  2022        3            70268
        2022-12-31        2023-02-02  2022        4            85640
        2023-03-31        2023-04-27  2023        1            67791
        2023-06-30        2023-08-03  2023        2            69373
        2023-09-30        2023-10-26  2023        3            75022
        2023-12-31        2024-02-01  2023        4            92553
        2024-03-31        2024-04-30  2024        1            72633

                    dilutedAverageSharesOutstanding  dilutedEPS   ebit  \
ticker  datetime
AMZN US 2022-03-31                            10180    -0.38000   3669
        2022-06-30                            10175    -0.20000   3317
        2022-09-30                            10331     0.28000   2525
        2022-12-31                            10222     0.03000   2737
        2023-03-31                            10347     0.31000   4774
        2023-06-30                            10449     0.65000   7681
        2023-09-30                            10558     0.94000  11188
        2023-12-31                            10612     1.00113  13209
        2024-03-31                            10670     0.97760  15307

                    equityEarningsAffiliates  grossIncome  \
ticker  datetime
AMZN US 2022-03-31                      -1.0        49945
        2022-06-30                     -12.0        54810
        2022-09-30                      -3.0        56833
        2022-12-31                      13.0        63564
        2023-03-31                       1.0        59567
        2023-06-30                      -9.0        65010
        2023-09-30                      -4.0        68061
        2023-12-31                       0.0        77408
        2024-03-31                     -85.0        70680

                    interestIncomeExpense  netIncome  netIncomeAfterTaxes  \
ticker  datetime
AMZN US 2022-03-31                  -8595      -3844                -3843
        2022-06-30                  -4864      -2028                -2016
        2022-09-30                    596       2872                 2875
        2022-12-31                  -2725        278                  265
        2023-03-31                   -622       3172                 3171
        2023-06-30                    129       6750                 6759
        2023-09-30                   1072       9879                 9883
        2023-12-31                    237      10624                10624
        2024-03-31                  -1851      10431                10516

                    otherOperatingExpensesTotal  pretaxIncome  \
ticker  datetime
AMZN US 2022-03-31                          249         -5265
        2022-06-30                           90         -2653
        2022-09-30                          165          2944
        2022-12-31                          759          -962
        2023-03-31                          223          4119
        2023-06-30                          146          7563
        2023-09-30                          244         12189
        2023-12-31                          154         13686
        2024-03-31                          228         12983

                    provisionforIncomeTaxes  researchDevelopment  revenue  \
ticker  datetime
AMZN US 2022-03-31                    -1422                14842   116444
        2022-06-30                     -637                18072   121234
        2022-09-30                       69                19485   127101
        2022-12-31                    -1227                20814   149204
        2023-03-31                      948                20450   127358
        2023-06-30                      804                21931   134383
        2023-09-30                     2306                21203   143083
        2023-12-31                     3062                22038   169961
        2024-03-31                     2467                20424   143313

                    sgaExpense  totalOperatingExpense  \
ticker  datetime
AMZN US 2022-03-31       31185                  46276
        2022-06-30       33331                  51493
        2022-09-30       34658                  54308
        2022-12-31       39254                  60827
        2023-03-31       34120                  54793
        2023-06-30       35252                  57329
        2023-09-30       35426                  56873
        2023-12-31       42007                  64199
        2024-03-31       34721                  55373

                    totalOtherIncomeExpenseNet
ticker  datetime
AMZN US 2022-03-31                        -339
        2022-06-30                       -1106
        2022-09-30                        -177
        2022-12-31                        -974
        2023-03-31                         -33
        2023-06-30                        -247
        2023-09-30                         -71
        2023-12-31                         240
        2024-03-31                        -473

In [9]:
load_finnhub_fundamental(
    sdh,
    symbols=['7203.T', '8035.T'], 
    st_type='cf', 
    freq='quarterly',
    with_calendar=True
).retrieve()

8035.T: loading...: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  2.97it/s]

                   announcement_date  year  quarter    capex  \
ticker  datetime
7203 JP 2014-06-30        2014-08-05  2015        1  -796300
        2014-09-30        2014-11-05  2015        2  -761317
        2014-12-31        2015-02-04  2015        3  -815745
        2015-03-31        2015-05-08  2015        4  -984206
        2015-06-30        2015-08-04  2016        1 -1057673
...                              ...   ...      ...      ...
8035 JP 2022-03-31        2022-05-12  2022        4   -34481
        2022-09-30        2022-11-10  2023        2   -37967
        2023-03-31        2023-05-11  2023        4   -38346
        2023-09-30        2023-11-10  2024        2   -58786
        2024-03-31        2024-05-10  2024        4   -66194

                    cashDividendsPaid  cashInterestPaid  cashTaxesPaid  \
ticker  datetime
7203 JP 2014-06-30            -316977               NaN            NaN
        2014-09-30                  0               NaN            NaN
        2014-12-31            -237956               NaN            NaN
        2015-03-31                  0               NaN            NaN
        2015-06-30            -393352               NaN            NaN
...                               ...               ...            ...
8035 JP 2022-03-31            -100506               NaN        56360.0
        2022-09-30            -118833               NaN       109303.0
        2023-03-31            -134155               NaN        99808.0
        2023-09-30            -133754               NaN        71971.0
        2024-03-31             -68703               NaN        46964.0

                    changeinCash  changesinWorkingCapital  \
ticker  datetime
7203 JP 2014-06-30        133882                    -1170
        2014-09-30        134270                  -123305
        2014-12-31         88844                  -300370
        2015-03-31       -113609                   619040
        2015-06-30          3097                   101405
...                          ...                      ...
8035 JP 2022-03-31        -44715                  -282008
        2022-09-30        118955                  -113744
        2023-03-31         17868                  -133230
        2023-09-30       -120578                    17182
        2024-03-31        109716                   -92641

                    depreciationAmortization  ...  \
ticker  datetime                              ...
7203 JP 2014-06-30                    316004  ...
        2014-09-30                    332229  ...
        2014-12-31                    369403  ...
        2015-03-31                    391439  ...
        2015-06-30                    381526  ...
...                                      ...  ...
8035 JP 2022-03-31                     20038  ...
        2022-09-30                     19729  ...
        2023-03-31                     23366  ...
        2023-09-30                     23221  ...
        2024-03-31                     29191  ...

                    issuanceReductionCapitalStock  issuanceReductionDebtNet  \
ticker  datetime
7203 JP 2014-06-30                          330.0                  322406.0
        2014-09-30                      -168285.0                  392266.0
        2014-12-31                      -186278.0                  404389.0
        2015-03-31                         6449.0                  158996.0
        2015-06-30                         1998.0                  329288.0
...                                           ...                       ...
8035 JP 2022-03-31                           -7.0                       NaN
        2022-09-30                        -1708.0                       NaN
        2023-03-31                          -20.0                       NaN
        2023-09-30                      -120027.0                       NaN
        2024-03-31                           -1.0                       NaN

                    netCashFinancingActivities  netIncomeStartingLine  \
ticker  datetime
7203 JP 2014-06-30                      -23740                 617182
        2014-09-30                      202997                 564297
        2014-12-31                      -38550                 635489
        2015-03-31                      165338                 490936
        2015-06-30                      -90447                 678204
...                                        ...                    ...
8035 JP 2022-03-31                     -101066                 323648
        2022-09-30                     -121269                 352916
        2023-03-31                     -135265                 271940
        2023-09-30                     -254999                 181136
        2024-03-31                      -70013                 292303

                    netInvestingCashFlow  netOperatingCashFlow  \
ticker  datetime
7203 JP 2014-06-30               -697928                875596
        2014-09-30               -910280                775710
        2014-12-31               -649487                686305
        2015-03-31              -1555795               1348142
        2015-06-30              -1053938               1123375
...                                  ...                   ...
8035 JP 2022-03-31                -29847                 77474
        2022-09-30                -34210                263391
        2023-03-31                 -7546                162879
        2023-09-30                -70354                200622
        2024-03-31                -54794                234099

                    otherFundsFinancingItems  otherFundsNonCashItems  \
ticker  datetime
7203 JP 2014-06-30                    -29499                -83248.0
        2014-09-30                    -20984                -28430.0
        2014-12-31                    -18705                -44222.0
        2015-03-31                      -107                -42634.0
        2015-06-30                    -28381                -78112.0
...                                      ...                     ...
8035 JP 2022-03-31                      -553                 15796.0
        2022-09-30                      -728                  4490.0
        2023-03-31                     -1090                   803.0
        2023-09-30                     -1218                -20917.0
        2024-03-31                     -1309                  5246.0

                    otherInvestingCashFlowItemsTotal  \
ticker  datetime
7203 JP 2014-06-30                             98372
        2014-09-30                           -148963
        2014-12-31                            166258
        2015-03-31                           -571589
        2015-06-30                              3735
...                                              ...
8035 JP 2022-03-31                              4634
        2022-09-30                              3757
        2023-03-31                             30800
        2023-09-30                            -11568
        2024-03-31                             11400

                    deferredTaxesInvestmentTaxCredit
ticker  datetime
7203 JP 2014-06-30                           26828.0
        2014-09-30                           30919.0
        2014-12-31                           26005.0
        2015-03-31                         -110639.0
        2015-06-30                           40352.0
...                                              ...
8035 JP 2022-03-31                               NaN
        2022-09-30                               NaN
        2023-03-31                               NaN
        2023-09-30                               NaN
        2024-03-31                               NaN

[61 rows x 22 columns]

## Appendix

> Handler.load()

Can also be obtained directly from the handler without using the wrapper.<br>
In this case, `data_source` and `data_type` must be specified.

In [10]:
sdh.load(
    'finnhub', 
    data_type='fundamental',
    symbols='7203.T', 
    st_type='ic', 
    freq='quarterly', 
    start_datetime='2022-01-01', 
    with_calendar=True
).retrieve()

7203.T: loading...: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  2.18it/s]

                   announcement_date  year  quarter  costOfGoodsSold  \
ticker  datetime
7203 JP 2022-03-31        2022-05-11  2022        4          6755385
        2022-06-30        2022-08-04  2023        1          7099967
        2022-09-30        2022-11-01  2023        2          7794503
        2022-12-31        2023-02-09  2023        3          7821392
        2023-03-31        2023-05-10  2023        4          8125420
        2023-06-30        2023-08-01  2024        1          8483927
        2023-09-30        2023-11-01  2024        2          9064850
        2023-12-31        2024-02-06  2024        3          9355813
        2024-03-31        2024-05-08  2024        4          8822417

                    dilutedAverageSharesOutstanding  dilutedEPS     ebit  \
ticker  datetime
7203 JP 2022-03-31                      13803.88700    38.67664   463862
        2022-06-30                      13732.56900    53.65493   578655
        2022-09-30                      13687.53500    31.72697   562789
        2022-12-31                      13632.40300    53.39792   956652
        2023-03-31                      13581.02100    40.66646   626930
        2023-06-30                      13555.66300    96.73979  1120900
        2023-09-30                      13522.58900    94.51267  1438394
        2023-12-31                      13494.13500   100.62253  1680944
        2024-03-31                      13479.00707    74.01814  1112696

                    grossIncome  interestIncomeExpense  minorityInterest  ...  \
ticker  datetime                                                          ...
7203 JP 2022-03-31      1357081                 333713             43173  ...
        2022-06-30      1391149                 460759            -21432  ...
        2022-09-30      1423729                 262323            -27040  ...
        2022-12-31      1933293                  79214            -16624  ...
        2023-03-31      1564845                 219520             23446  ...
        2023-06-30      2062904                 606920            -15518  ...
        2023-09-30      2369936                 364626            -42575  ...
        2023-12-31      2685291                 145521            -26289  ...
        2024-03-31      2250188                 477165            -42106  ...

                    netIncomeAfterTaxes  otherOperatingExpensesTotal  \
ticker  datetime
7203 JP 2022-03-31               490715                         -1.0
        2022-06-30               758252                          0.0
        2022-09-30               461303                          NaN
        2022-12-31               744566                          NaN
        2023-03-31               528847                          1.0
        2023-06-30              1326890                          1.0
        2023-09-30              1320631                         -1.0
        2023-12-31              1384103                          NaN
        2024-03-31              1039796                          2.0

                    pretaxIncome  provisionforIncomeTaxes   revenue  \
ticker  datetime
7203 JP 2022-03-31        752979                   262264   8112466
        2022-06-30       1021748                   263496   8491116
        2022-09-30        812528                   351225   9218232
        2022-12-31       1034998                   290432   9754685
        2023-03-31        799459                   270612   9690265
        2023-06-30       1720553                   393663  10546831
        2023-09-30       1800972                   480341  11434786
        2023-12-31       1835540                   451437  12041104
        2024-03-31       1608020                   568224  11072605

                    sgaExpense  totalOperatingExpense  \
ticker  datetime
7203 JP 2022-03-31      893220                 893219
        2022-06-30      812494                 812494
        2022-09-30      860940                 860940
        2022-12-31      976641                 976641
        2023-03-31      937914                 937915
        2023-06-30      942003                 942004
        2023-09-30      931543                 931542
        2023-12-31     1004347                1004347
        2024-03-31     1137490                1137492

                    totalOtherIncomeExpenseNet  equityEarningsAffiliates  \
ticker  datetime
7203 JP 2022-03-31                      -44596                       NaN
        2022-06-30                      -17666                       NaN
        2022-09-30                      -12584                       NaN
        2022-12-31                        -868                       NaN
        2023-03-31                      -46991                       NaN
        2023-06-30                       -7267                       NaN
        2023-09-30                       -2048                       NaN
        2023-12-31                        9075                       NaN
        2024-03-31                       18159                       NaN

                    nonRecurringItems
ticker  datetime
7203 JP 2022-03-31                NaN
        2022-06-30                NaN
        2022-09-30                NaN
        2022-12-31                NaN
        2023-03-31                NaN
        2023-06-30                NaN
        2023-09-30                NaN
        2023-12-31                NaN
        2024-03-31                NaN

[9 rows x 21 columns]